<div class="main-inner">

    <!-- Begin mobile main menu -->
<nav class="mmm">
<div class="mmm-content">
<ul class="mmm-list">
    <li><a href="/">Home</a></li>
    <li><a href="/resendPage">Facturas Procesando</a></li>
    <li><a href="#">Facturas en Error</a></li>
    <li><a href="#">Definiciones e Instructivos</a></li>
    <!-- <li><a href="#">Tabs & Accordions</a></li> -->
    <li><a href="#">Novedades</a></li>
    <li><a href="#">Contacto</a></li>
</ul>
</div>
<div class="mmm-footer">
<ul class="mmm-lang">
    <li class="active"><a href="#!"><span>En</span></a></li>
    <li><a href="#!"><span>Sp</span></a></li>
    <li><a href="#!"><span>It</span></a></li>
    <li><a href="#!"><span>Uk</span></a></li>
    <li><a href="#!"><span>Ru</span></a></li>
</ul>
</div>
</nav><!-- End mobile main menu -->



<!-- Begin header -->
<header class="header">
<!-- Begin header top -->
<nav class="header-top">
<div class="container">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <!-- Begin header top info -->
            <ul class="header-top-info">
                <li>
                    <a href="mailto:ltorrealba@megatlon.com.ar">
                        <i class="material-icons md-18">mail_outline</i>
                        <span>ltorrealba@megatlon.com.ar</span>
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/5491167211569" target="_blank" class="formingHrefTel">
                        <i class="material-icons md-18">whatsapp</i>
                        <span>Whatsapp</span>
                    </a>
                </li>
            </ul><!-- Ennd header top info -->
        </div>
        <div class="col-auto">
            <div class="header-top-links">
                <!-- Begin social links -->
                <ul class="social-links">
                    <li>
                        <a href="#!" title="Facebook">
                            <svg viewBox="0 0 320 512"><use xlink:href="/img/sprite.svg#facebook-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="#!" title="Instagram">
                            <svg viewBox="0 0 448 512"><use xlink:href="/img/sprite.svg#instagram-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="#!" title="LinkedIn">
                            <svg viewBox="0 0 448 512"><use xlink:href="/img/sprite.svg#linkedin-icon"></use></svg>
                        </a>
                    </li>
                    <li>
                        <a href="#!" title="Twitter">
                            <svg viewBox="0 0 512 512"><use xlink:href="/img/sprite.svg#twitter-icon"></use></svg>
                        </a>
                    </li>
                </ul><!-- End social links -->
            </div>
        </div>
    </div>
</div>
</nav><!-- End header top -->
<!-- Begin header fixed -->
<nav class="header-fixed">
<div class="container">
    <div class="row flex-nowrap align-items-center justify-content-between">
        <div class="col-auto d-block d-lg-none header-fixed-col">
            <div class="main-mnu-btn">
                <span class="bar bar-1"></span>
                <span class="bar bar-2"></span>
                <span class="bar bar-3"></span>
                <span class="bar bar-4"></span>
            </div>
        </div>
        <div class="col-auto header-fixed-col">
            <!-- Begin logo -->
            <a href="/" class="logo" title="PathSoft">
                <img src="/img/resender.png" width="400" height="200" alt="PathSoft">
            </a><!-- End logo -->
        </div>
        <div class="col-auto header-fixed-col d-none d-lg-block col-static">
            <!-- Begin main menu -->
<nav class="main-mnu">
<ul class="main-mnu-list">
<li><a href="/" data-title="Inicio"><span>Inicio</span></a></li>
<li><a href="/resendPage" data-title="Facturas Procesando"><span>Facturas Procesando</span></a></li>
<li><a href="#" data-title="Facturas en Error"><span>Facturas en Error</span></a></li>
<li><a href="#" data-title="Definiciones e Instructivos"><span>Definiciones e Instructivos</span></a></li>
<li><a href="#" data-title="Novedades"><span>Novedades</span></a></li>
<li><a href="#" data-title="Contacto"><span>Contacto</span></a></li>
</ul>

</nav><!-- End main menu -->
        </div>
        <div class="col-auto header-fixed-col col-static">
            <!-- Begin header actions -->
            <ul class="header-actions">
                <!-- Begin header languarge -->
                <li class="d-none d-lg-block">
                    <div class="header-lang">
                        <div class="header-lang-current"><i class="material-icons md-22">language</i></div>
                        <ul class="header-lang-list">
                            <li class="active"><a href="#!" class="hover-link" data-lang="En" data-title="English"><span>English</span></a></li>
                            <li><a href="#!" class="hover-link" data-lang="Sp" data-title="Spanish"><span>Spanish</span></a></li>
                            <li><a href="#!" class="hover-link" data-lang="It" data-title="Italian"><span>Italian</span></a></li>
                            <li><a href="#!" class="hover-link" data-lang="Uk" data-title="Ukraine"><span>Ukraine</span></a></li>
                            <li><a href="#!" class="hover-link" data-lang="Ru" data-title="Russian"><span>Russian</span></a></li>
                        </ul>
                    </div>
                </li><!-- End header languarge -->
                <!-- Begin header navbar -->
                <li class="d-block d-lg-none">
                    <div class="header-navbar">
                        <div class="header-navbar-btn">
                            <i class="material-icons md-24">more_vert</i>
                        </div>
                        <ul class="header-navbar-content">
                            <li>
                                <a href="mailto:ltorrealba@megatlon.com.ar">
                                    <i class="material-icons md-18">mail_outline</i>
                                    <span>ltorrealba@megatlon.com.ar</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/5491167211569" target="_blank" class="formingHrefTel">
                                    <i class="material-icons md-18">whatsapp</i>
                                    <span>Whatsapp</span>
                                </a>
                            </li>
                            <li>
                                <!-- Begin social links -->
                                <ul class="social-links">
                                    <li>
                                        <a href="#!" title="Facebook">
                                            <svg viewBox="0 0 320 512"><use xlink:href="/img/sprite.svg#facebook-icon"></use></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" title="Instagram">
                                            <svg viewBox="0 0 448 512"><use xlink:href="/img/sprite.svg#instagram-icon"></use></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" title="LinkedIn">
                                            <svg viewBox="0 0 448 512"><use xlink:href="/img/sprite.svg#linkedin-icon"></use></svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" title="Twitter">
                                            <svg viewBox="0 0 512 512"><use xlink:href="/img/sprite.svg#twitter-icon"></use></svg>
                                        </a>
                                    </li>
                                </ul><!-- End social links -->
                            </li>
                        </ul>
                    </div>
                </li><!-- End header navbar -->
            </ul><!-- End header actions -->
        </div>
    </div>
</div>
</nav><!-- End header fixed -->
</header><!-- End header -->

    <!-- Begin intro -->
<!-- <div class="section-bgc intro">
<div class="intro-slider">
<H1> ACA ESTA LEO</H1>
</div> -->
</div><!-- End intro -->